@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-content::-webkit-scrollbar {
  display: none;
}

.card-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.left {
  left: 26px;
}

.right {
  right: 26px;
}